@charset "utf-8";
/* CSS Document */
* {
	margin:0;
	padding:0;
	box-sizing:border-box;
}
body{
	background:url("../img/cake-background.png") no-repeat bottom fixed;
    -webkit-background-size: 100vw;
    -moz-background-size: 100vw;
    -o-background-size: 100vw;
	background-color:#FFECE0;
	font-family: "Josefin Sans", sans-serif;
  	font-optical-sizing: auto;
  	font-style: normal;
	font-size:20px;
	line-height:25px;
	color:#660933;
}
#tabs{
	display:flex;
	width:80vw;
	margin:0 auto 0;
}
.tab1{
	background:url("../img/tab1.png")no-repeat;
	position:relative;
	width:300px;
	height:174px;
	text-align:center;
}
.tab2{
	background:url("../img/tab2.png")no-repeat;
	position:relative;
	top:94px;
	width:300px;
	height:140px;
	margin:-60px;
	text-align:center;
}
.tabname1{
	position:absolute;
	top:120px;
	left:135px;
	color:#FFECE0;
	font-size:30px;
}
.tabname2{
	position:absolute;
	top:85px;
	left:55px;
	color:#FFECE0;
	font-size:30px;
}
.tabname3{
	position:absolute;
	top:85px;
	left:70px;
	color:#FFECE0;
	font-size:30px;
}
a:link{
	text-decoration:none;
}
a:visited{
	text-decoration:none;	
}
#background{
	background-color:#FFB9B0;
	width:80vw;
	margin:auto;
	border-radius:20px 20px 0 0;
}
h1{
	display:flex;
	align-items:center;
	flex-direction:row;
	justify-content:space-between;
	position:relative;
	top:40px;
	background-color:#FFECE0;
	font-family: "Irish Grover", system-ui;
  	font-weight: 400;
  	font-size:6vw;
	line-height:80px;
	color:#B20B19;
	padding:20px 50px;
}
h2{
	position:relative;
	top:30px;
	font-family: "Josefin Sans", sans-serif;
	font-size:25px;
	font-style:italic;
	color:#660933;
	padding:30px 50px;
	font-weight:normal;
}
#title{
	font-size:8vw;
}
h1 img{
	object-fit:cover;
	vertical-align:middle;
}
#products{
	width:80vw;
	display:grid;
	grid-template-columns:auto auto auto auto;
	justify-content:space-evenly;
	padding:70px 50px 50px;
}
.product{
	margin:10px;
}
.light{
	font-weight:300;
}
#home{
	width:80vw;
	display:grid;
	grid-template-columns:auto auto;
	justify-content:space-evenly;
	padding:70px 0px 50px;
}
.home{
	margin:10px;
	width:37vw;
	align:center;
}
#about{
	width:80vw;
	padding:70px 50px;
}
#about img{
	float:left;
	margin:0 20px 20px 0;
}
#info{
	clear:left;
	width:80vw;
	display:grid;
	grid-template-columns:auto auto auto;
	justify-content:space-between;
	padding:20px 80px 50px;
	color:#B6115B;
}
form{
	width:80vw;
	padding:20px 80px 60px;
	color:#B6115B;
	text-align:center;
}
label{
	display:block;
	font-family: "Irish Grover", system-ui;
  	font-weight: 400;
  	font-size:3vw;
	line-height:auto;
}
input{
	box-sizing:border-box;
	width:45%;
	padding:16px;
	margin:10px 0px;
	border:solid 2px #B6115B;
	background-color:#FFECE0;
	color:#FF9595;
}
input[type=button], input[type=submit], input[type=reset] {
	background-color: #B6115B;
	border: none;
	width:150px;
	height:50px;
	color: #FFECE0;
	font-family: "Josefin Sans", sans-serif;
	font-size:20px;
	text-decoration:none;
	padding:0;
	cursor: pointer;
}
.exhibit{
	width:80vw;
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	padding:70px 50px 50px;
}
.summary{
	margin:0px 40px;
	padding:
}
.pink{
	color:#B6115B;
}
footer{
	color:#FFECE0;
	background-color:#B20B19;
	padding:20px 12vw;
	line-height:30px;
}
