@charset "utf-8";
/* CSS Document */
body {
	margin: 5% 5% 10% 5%;
  font-family: "Patrick Hand", cursive;
	font-size: 22px;
	color:rebeccapurple;
	background-color:aliceblue;
	
}
h1 {
	font-size:3.2em;
	font-family: "Irish Grover", system-ui;
  	font-weight: 400;
	text-align:center;
	color:purple;
}
h3 {
	font-family: "Irish Grover", system-ui;
  	font-weight: 400;
	font-size:1.7em;
	color:purple;
	margin:40px 0px 15px 0px;
}
p{
	margin:0px 0px 20px 0px;
}
#opening {
	font-size:1.1em;
	font-style:italic;
	color:indianred;
	text-align:center;
	background-color:antiquewhite;
	margin: 0% 5% 2% 5%;
	padding:10px;
}
#author{
	font-style:italic;
	color:tan;
}
cite{
	color:indianred;
}
em{
	font-style:normal;
}
.normal {
	font-style:normal;
	color:indianred;
}
#big {
	font-size:25px;
	font-weight:bolder;
	color:indianred;
}
dl {
	background-color:antiquewhite;
	font-size:1.1em;
	color:indianred;
	margin: 3% 80% 0% 0%;
	padding:10px;
	line-height:40px;
}
a:link {
		color:indianred;
		text-decoration:none;
	}
a:visited {
		color:indianred;
	}
a:hover {
		color:coral;
		text-decoration:underline;
	}
a:active {
		color:orangered;
	}
#size-type{
		font-size:1.7em;
		margin-left:7px;
}
#weight-type{
		font-weight:bolder;
	}
#form-type{
	font-style:italic;
}
#structure-type{
	font-family:"Hachi Maru Pop", cursive;
}
#texture-type{
	font-style:italic;
	font-weight:bolder;
}
#color-type{
	color:indianred;
}
.direction{
	text-align:right;
}
#other-type{
	margin-right:3%;
}
